<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logged In</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/loginandRegisterstyles.css"> <!-- adding a custom stylesheet-->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-darkgreen">
        <div class="container-fluid">
            <a class="navbar-brand text-black" href="#">HealthQuest</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/about">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-black" href="/guides">Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/goals">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/achievements">Achievements</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <div class="row">
          <div class="col-12 text-center">
            <h1>WellBeing Guides</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h2>Nutrition.</h2>
            <img src="/images/nutrition.jpeg" class="w-75 h-50" alt="Responsive image">
            <p>Nutrition is an incredibly important part of well-being. Your body burns a specific amount of calories per day, based on your weight.
                Eating more than your calorie threshold can lead to weight gain, with most of the gain being fat. eating under the threshold makes you lose weight. <br>
                Alongisde the calorie count, you have to think about macronutrients, such as protein and carbohydrates. Protein is important for muscle growth - you cannot gain muscle without enough
                protein or without enough calories. <br>
                In summary, while being mindful of maacronutrients like calories is important, at the end of the day your weight loss/gain will depend on energy in and energy out.
                Use the button below to calculate your calorie threshold, and plan your meals accordingly!
            </p>
            <div>
                <a href="https://www.omnicalculator.com/health/calorie-deficit" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark btn-sm">
                    Calorie Calculator
                  </a> 
            </div>
          </div>
          <div class="col-4">
            <h2>Fitness.</h2>
            <img src="/images/fitness.jpeg" class="w-75 h-50" alt="Responsive image">
                <p> Fitness is the path of training your body to raise strength and stamina. It requires strict discipline and goes hand in hand with nutrition.<br>
                Strength and stamina are achieved by causing small tears in your muscles during exercise, and allowing them to repair and come back stronger.<br>
                there are several exercises that help strengthen differnt parts of your body. Click on the button below to find starter exercises and begin training! </p>
                <div>
                    <a href="https://www.healthline.com/health/fitness-exercise/calisthenics" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark btn-sm">
                        Beginer Workouts
                      </a> 
                </div>
          </div>
          <div class="col-4">
            <h2>Lifestyle.</h2>
            <img src="/images/lifestyle.jpeg" class="w-75 h-50" alt="Responsive image">
            <p> Exercise and diet are important - but they take time to get results. Your lifestyle choice can offer much faster results. Multiple studies have shown that stress and lack of sleep can drastically shorten your lifespan. <br>
                Furthermore, day-to-day habits such as sitting posture will have a huge impact on your happiness later in life - back pain is no joke! For a healthy lifestyle, you must prevent the anxieties of the modern world from having an affect on you.
                The amount you sleep is also essential to your fitness gains - muscle growth and weight loss happens when you rest! you must give your body time to recover and make changes. <br>
                Additionally, even if you do not sleep the full 8 hours, you must make sure that your schedule is consistent. sleeping 6 hours is fine as long as your body has a routine that it never breaks. You can use the button below to get more information
                on how to get the most out of your sleep!</p>
                <div>
                    <a href="https://www.sleepfoundation.org/sleep-calculator" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark btn-sm">
                        Sleep Calculator
                      </a> 
                </div>
          </div>
        </div>
      </div>
</body>


</html>