<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logged In</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/loginandRegisterstyles.css"> <!-- adding a custom stylesheet-->
</head>

<body class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-darkgreen">
        <div class="container-fluid">
            <a class="navbar-brand text-black" href="#">HealthQuest</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link text-black" href="/">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/guides">Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/goals">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/achievements">Achievements</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2>Write a new goal</h2>
    <form method="post" role="form" action="/new">
        <div class="form-group">
            <label for="goalType">Goal Type</label>
            <select id="goalType" name="goalType">
                <option value="Nutrition">Nutrition</option>
                <option value="Fitness">Fitness</option>
                <option value="Fitness">Lifestyle</option>
            </select>
        </div>
        <div class="form-group">
            <label for="goalDesc">Goal Description</label>
            <input type="text" class="form-control" id="subject" name="goalDesc" placeholder="Enter a subject line"
                required>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate">
        </div>
        <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="date" id="deadline" name="deadline">
        </div>
        </textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Post goal" class="btn btn-outline-dark btn-sm">
        </div>
    </form>
</body>

</html>